{% load static %}
{% extends 'base.html' %} {% block content %}

<div class="login-wrapper">
  <div class="login-card">
    <div class="text-center mb-4">
      <h1 class="login-title">Welcome Back</h1>

      <p class="login-subtitle">Login to continue managing your budget</p>
    </div>

    {% if form.errors %}

    <div class="alert alert-danger">Invalid username or password</div>

    {% endif %}

    <form method="POST">
      {% csrf_token %}

      <!-- USERNAME -->

      <div class="mb-4">
        <label class="form-label"> Username </label>

        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Enter username"
          required
        />
      </div>

      <!-- PASSWORD -->

      <div class="mb-4">
        <label class="form-label"> Password </label>

        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Enter password"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary login-btn">Login</button>
    </form>

    <div class="text-center mt-4">
      <p>
        Don't have an account?

        <a href="{% url 'register' %}"> Register </a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
