{% extends 'base.html' %} {% block content %}

<div class="login-wrapper">
  <div class="login-card">
    <div class="text-center mb-4">
      <h1 class="login-title">Create Account</h1>

      <p class="login-subtitle">Start managing your income and expenses</p>
    </div>

    <!-- ERRORS -->

    {% if form.errors %}

    <div class="alert alert-danger">Please correct the errors below</div>

    {% endif %}

    <!-- REGISTER FORM -->

    <form method="POST">
      {% csrf_token %}

      <!-- USERNAME -->

      <div class="mb-4">
        <label class="form-label"> Username </label>

        {{ form.username }}
      </div>

      <!-- EMAIL -->

      <div class="mb-4">
        <label class="form-label"> Email </label>

        {{ form.email }}
      </div>

      <!-- PASSWORD -->

      <div class="mb-4">
        <label class="form-label"> Password </label>

        {{ form.password1 }}
      </div>

      <!-- CONFIRM PASSWORD -->

      <div class="mb-4">
        <label class="form-label"> Confirm Password </label>

        {{ form.password2 }}
      </div>

      <!-- REGISTER BUTTON -->

      <button type="submit" class="btn btn-success login-btn">
        Create Account
      </button>
    </form>

    <!-- LOGIN LINK -->

    <div class="text-center mt-4">
      <p>
        Already have an account?

        <a href="{% url 'login' %}"> Login </a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
